@using Dominio;

<h2>Periodistas</h2>
<div>
    @foreach (Usuario item in ViewBag.periodistas)
    {
    <div class="card prueba my-2" style="width: 18rem;">
        <div class="card-header text-center font-weight-bold">
            @item.Nombre @item.Apellido
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ID: @item.IDUsuario</li>
            <li class="list-group-item">email: @item.Email</li>
        </ul>
        <a href="/resenia/VerResenias?email=@item.Email" class="btn btn-primary">Ver reseñas</a>
    </div>
    }
</div>

